@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	overflow: hidden;
}

.text {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 100;
	color: white;
	box-shadow: 0 4px 10px #00000088;
	background: #00000099;
	padding: 90px 70px;
	border-radius: 10px;
}

h1 {
	text-transform: uppercase;
}

.ul {
	margin: 10px 0;
	text-align: left;
}

a {
	color: #AAAAFF;
}

#particles-js {
	background-color: rgb(182, 25, 36);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-width: 700px;
	width: 100vw;
	height: 100vh;
}


/* Shit below */

@media only screen and (max-width: 400px) {
	.text {
		padding: 0;
		height: 100vh;
		width: 100vw;
		border-radius: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}